/* Header */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Comic Neue", cursive;
}
body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
header {
  width: 100vw;
  height: 140px;
}
.sectionOne {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: end;
  align-items: center;
  /* background-color: rgb(72, 207, 173); */
  background-color: #2d2d35;
}
.sectionOne--socialNetworks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}
.sectionOne--socialNetworks--github {
  background-image: url("../assets/icons/github.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
}
.sectionOne--socialNetworks--instagram {
  background-image: url("../assets/icons/instagram.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
}
.sectionOne--socialNetworks--twitter {
  background-image: url("../assets/icons/twitter.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
}
.sectionOne--socialNetworks--linkedin {
  background-image: url("../assets/icons/linkedin.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
}
.sectionTwo {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.sectionTwo .logo-container {
  width: 137px;
  height: 50px;
}
.sectionTwo img {
  height: 100%;
}
.sectionTwo a {
  font-weight: bold;
  color: black;
  font-size: 1.8rem;
}

/* Header */

.title {
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/2646237/pexels-photo-2646237.jpeg?cs=srgb&dl=pexels-dexter-fernandes-2646237.jpg&fm=jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title p {
  width: 90%;
  height: auto;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 200px;
  color: white;
}
.title a {
  margin-top: 120px;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: #2d2d35;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 600px) {
  .sectionOne--socialNetworks {
    width: 50%;
  }
  .title p {
    max-width: 500px;
  }
  .title a {
    margin-top: 20px;
  }
}
